<main class="container">
    <div class="container">
        <div class="row">
            <form [formGroup]="teamTaskAddForm" (ngSubmit)="add()" class="">
                <h2 class="mt-12 pt-12">Yeni bir Takim Görevi ekle</h2>
                <div class="form-group">
                    <input type="text" id="takim_id" formControlName="takim_id" class="form-control"
                        placeholder="Takim ID" autofocus>
                    <span class="help-block"
                        *ngIf="teamTaskAddForm.get('takim_id')?.errors && teamTaskAddForm.get('takim_id')?.touched">
                        Takım ID Zorunludur.
                    </span>
                </div>
                <div class="form-group">
                    <input type="text" id="gorev_id" formControlName="gorev_id" class="form-control"
                        placeholder="Gorev ID" autofocus>
                    <span class="help-block"
                        *ngIf="teamTaskAddForm.get('gorev_id')?.errors && teamTaskAddForm.get('gorev_id')?.touched">
                        Görev ID Zorunludur.
                    </span>
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="!teamTaskAddForm">Takım
                    Görevi Ekle</button>
            </form>
        </div>
    </div>
    <br>
    <div class="row">
    <div style="width: 50%;background-color:#a8b3ea;">
        <h2 style="text-decoration: underline;" class="mt-6 pt-6">Görevler</h2>
        <div *ngFor='let gorev of gorevler' class="d-flex text-muted pt-3">
            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                <div class="d-flex justify-content-between">
                    <strong class="text-gray-dark">Görev ID:{{gorev.id}}</strong>
                </div>
                <span class="d-block">Gorev Adı: {{gorev.gorev_adi}}</span>
            </div>
        </div>
    </div>
    <div style="width: 50%; background-color:#f5baa7;">
        <h2 style="text-decoration: underline;" class="mt-6 pt-6">Takımlar</h2>
        <div *ngFor='let takim of takimlar' class="d-flex text-muted pt-3">
    <div  class="pb-3 mb-0 small lh-sm border-bottom w-100">
        <div class="d-flex justify-content-between">
          <strong class="text-gray-dark">Takım ID:{{takim.id}}</strong>
        </div>
        <span class="d-block">Takım Adı:{{takim.takim_adi}}</span>
      </div>
    </div>
    </div>
</div>
</main>